body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

a {

    text-decoration: none;
    color: #8B8B8B;
}

#love {
    color: pink;
}

/* App */

.container {

    display: flex;
    flex-direction: row;
    
    margin: 0;
    max-width: 100%;
    max-height: 100vh;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/Images/BackGround.jpg);
}

/* Menu */

.left-side {
    backdrop-filter: blur(1px);
    min-width: 340px;
    min-height: 760px;
    background-color: rgba(0, 0, 0, 0.5);
    
    font-family: 'Graduate', cursive;
}

nav {

    width: 100%;
    min-height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.avatar {

    padding-top: 44px;
    padding-bottom: 44px;
}

.name {

    font-style: normal;
    font-weight: 400;
    font-size: 20px;


    color: #FFFFFF;
}

img {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    user-select: none;
}

.social-media {
    user-select: none;
    padding-bottom: 117px;
}

img[alt="Dribbble"], img[alt="Instagram"]  {
    padding-left: 15px;
}

img[alt="Telegram"]:hover, img[alt="Dribbble"]:hover, img[alt="Instagram"]:hover {
    scale: 1.1;
}

.link {
    
    display: block;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;

    color: #8B8B8B;
    text-decoration: none;

    margin-bottom: 15px;

    transition: color .2s linear;
}

.link:hover {

    color: #FFFFFF;
}

.active {

    text-decoration: underline;
    text-underline-position: under;
    color: #FFFFFF;
}

.copyright {

    position: absolute;
    float: left;
    color: #8B8B8B;
    font-size: 8px;
    left: 170px;
    transform: translate(-50%, -50%);
    bottom: 32px;
    letter-spacing: 0.5px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Main */

main {
    box-sizing: border-box;

    display: block;

    overflow-y: auto;
    z-index: 2;
    width: 100%;
    height: 100vh;
    font-family: 'Graduate';
    background-color: #FFFFFF;
    padding: 50px;
}

.title {

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;

    color: #000000;
}

input {
    box-sizing: border-box;
    font-family: 'Graduate';
    width: 100%;
    display: block;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    border-width: 1px;
    border-color: #000000;
    outline: none;
    margin-bottom: 5px;
}

textarea[id="message"] {
    box-sizing: border-box;
    resize: none;
    height: 65px;
    width: 100%;
    font-family: 'Graduate';
    display: block;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    border-width: 1px;
    border-color: #000000;
    outline: none;
    margin-bottom: 2px;
    transition: all .2s ease-out;
}
textarea[id="message"]:focus {
    height: 150px;
}


.submit-button {
    font-family: 'Graduate';
    padding: 15px;
    background-color: #FFFFFF;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all .2s linear;
}

.submit-button:hover {
    border-radius: 15px;
}

/* Free Space */

.right-side {

    width: 300px;
    height: 100vh;
    background-color: #FFFFFF;
}